<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UChat</title>
    <script>
        const roomName = "<%= roomName %>"
    </script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <style>
        body {
            padding: 0;
            margin: 5px;
            display: flex;
            justify-content: left;
            background-color: rgb(97, 89, 89);
        }

        #room-users-container {
            padding: 0;
            margin: 0;
            justify-content: right;
            width: 20%;
            background-color: black;
            position: fixed;
            left: 80%;
            bottom: 0px;
            top: 0px;

        }

        #room-users-container div {
            justify-content: left;
            color: white;
            padding: 5px;
        }



        #message-container {
            justify-content: left;
            width: 80%;
            max-width: 2560px;
            position: fixed;
            overflow-y: auto;         
        }

        /* #message-container div:nth-child(2n) {
            background-color: #FFF;
        } */
        #send-container {
            justify-content: left;
            position: fixed;

            bottom: 0;
            max-width: 2560px;
            width: 75%;
            border: solid;
            border-color: black;
            border-width: 2px;
            margin-bottom: 30px;
            margin-left: 5px;
            display: flex;
        }

        #message-input {
            flex-grow: 1;
        }
    </style>
</head>

<body>
    <div id="message-container"></div>
    <div id="room-users-container"></div>
    <form id="send-container">
        <input type="text" id="message-input">
        <button type="submit" id="send-button">Send</button>
    </form>
</body>

</html>